*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url(https://media.istockphoto.com/id/895841398/vector/pink-and-blue-round-spots-on-white-background-cute-seamless-pattern-irregular-polka-dots.jpg?s=612x612&w=0&k=20&c=0ZJKmklpujyxzBC9SIGb5oS9blYOGhb9jLbeb9nBZWY=);
    background-size: cover;
}

h1{
    color: rgb(157, 13, 185);
    margin-left: 40%;
    margin-top: 3%;
    font-family: cursive;
    /* font-weight: 900; */
}

.box{
    height: 250px;
    width: 250px;
    background-color: red;
    position: relative;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/22/23/14/terrier-1851108_640.jpg);
    background-size: cover;
    background-position: center;
}

.box2{
    height: 150px;
    width: 150px;
    background-color: pink;
    position: absolute;
    left: 85%;
    top: 2%;
    background-image: url(https://cdn.pixabay.com/photo/2019/08/07/14/10/golden-retriever-4390884_640.jpg);
    background-size: cover;
    /* background-position: center; */
}

.box3{
    height: 150px;
    width: 150px;
    background-color: pink;
    position: absolute;
    left: 85%;
    top: 70%;
    background-image: url(https://cdn.pixabay.com/photo/2019/05/28/05/47/puppy-4234435_640.jpg);
    background-size: cover;
    background-position: center;
}

.box4{
    height: 150px;
    width: 150px;
    background-color: pink;
    position: absolute;
    left: 85%;
    top: 40%;
    background-image: url(https://cdn.pixabay.com/photo/2020/05/03/13/09/puppy-5124947_640.jpg);
    background-size: cover;
    background-position: center;
}

.box5{
    height: 150px;
    width: 150px;
    background-color: pink;
    position: absolute;
    right: 85%;
    top: 39%;
    background-image: url(https://cdn.pixabay.com/photo/2020/12/21/08/36/dog-5849152_640.jpg);
    background-size: cover;
    background-position: center;
}

.box6{
    height: 150px;
    width: 200px;
    background-color: pink;
    position: absolute;
    left: 0%;
    bottom: 0%;
    border-radius: 50px;
    background-image: url(https://media.istockphoto.com/id/1952761388/photo/happy-old-man-with-pet-sitting-on-sofa-at-home.jpg?s=612x612&w=0&k=20&c=p74oER70yCRbyUxN77LMMnoNAnkrbBi6HD4rDdKTN_Y=);
    background-size: cover;
    background-position: center;
}

.box7{
    height: 200px;
    width: 300px;
    background-color: pink;
    position: absolute;
    right: 0%;
    top: 70%;
    border-radius: 50px;
    background-image: url(https://media.istockphoto.com/id/1344021882/photo/portrait-of-happy-multiracial-couple-scratching-their-pet-dog-sitting-on-floor-at-home.jpg?s=612x612&w=0&k=20&c=40ickNm5BHz4qE8XPfozZrf3EkIqUjxwu5uUfQNf2Fo=);
    background-size: cover;
    background-position: center;
}

.box8{
    height: 150px;
    width: 200px;
    background-color: pink;
    position: absolute;
    right: 0%;
    top: 0%;
    border-radius: 50px;
    background-image: url(https://media.istockphoto.com/id/1060529042/photo/young-woman-with-dog.jpg?s=612x612&w=0&k=20&c=s0AlJrCZUUX4EXzwpwxobfUbeqUnghp0FpdHXHx3mpk=);
    background-size: cover;
    background-position: center;
}

.box9{
    height: 200px;
    width: 300px;
    background-color: pink;
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 50px;
    background-image: url(https://media.istockphoto.com/id/1447873928/photo/happy-indian-senior-couple-playing-with-dog-in-summer-park-retirement-life-retired-people.jpg?s=612x612&w=0&k=20&c=Uf4cqtbFgmG7eF5pVXa-Z14c5Nt8_iYc1ThP3hkWvdA=);
    background-size: cover;
    background-position: center;
}