*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1676009619407-18a5121f9687?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.container{
    height: 90%;
    width: 40%;
    background-color: #fff;
    position: absolute;
    right: 5%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

img{
    height: 5%;
    width: 5%;
    position: absolute;
    left: 85%;
    top: 5%;
}

h1{
    position: absolute;
    top: 15%;
    font-family: cursive;
    font-weight: 900;
    margin: 10% 20%;
}

h2{
    position: absolute;
    top: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10% 15%;
}

input{
    height: 5%;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    position: absolute;
    top: 57%;
    padding: 0px 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    position: absolute;
    top: 75%;
    padding: 10px 80px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(228, 151, 177);
    transition: 0.65s all ease;
    font-family: cursive;
    font-weight: 700;
    text-transform: uppercase;
}

button:hover{
    background-color: aquamarine;
}

button:active{
    filter: brightness(0.65);
}